<mat-card mat-card class="main-content" appearance="outlined">
  <mat-card mat-card class="left-content" appearance="outlined">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Válasszon</mat-label>
        <mat-select (valueChange)="onRegionSelect($event)">
          <mat-option>-</mat-option>
          @for( region of regions; track region){
          <mat-option [value]="region.id">{{region.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    @if(isRegionSelected){
    <mat-card-content class="left-down-content">
      <mat-form-field>
        <mat-label>Új város neve</mat-label>
        <input matInput id="newCityName" type="text" placeholder="Szeged" title="Csak karakter adható meg" maxlength="20" />
      </mat-form-field>
      <button type="button" class="btn btn-primary" (click)="addNewCity()">Felvesz</button>
    </mat-card-content>
    }
  </mat-card>
  @if(isRegionSelected){
  <mat-card class="right-content">
    <mat-label>Megye: {{selectedRegionName}}</mat-label>
    @if(cities.length != 0){
    <table mat-table [dataSource]="cities" class="cities-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *metHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="table button row">
            <div class="table-flex-container">
              <div class="table-button-container">
                <button mat-fab aria-label="Szerkesztés" class="table-button" (click)="openEditCityModal(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div class="table-button-container">
                <button mat-fab aria-label="Törlés" class="table-button" (click)="deleteCity(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
    </table>
    }
    @else{
      <mat-label>Még nincs város felvéve.</mat-label>
    }
  </mat-card>
  }
</mat-card>
<div class="modal" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Város név módosítása</h4>
      </div>
      <div class="modal-body">
        <mat-form-field>
          <mat-label>Új név</mat-label>
          <input matInput id="updatedCityName" placeholder="{{selectedCityName}}" title="Csak karakter adható meg" maxlength="20">
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveNewCity()">Mentés</button>
        <button type="button" class="btn btn-primary" (click)="closeEditCityModal()">Mégsem</button>
      </div>
    </div>
  </div>
</div>